.error-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-code {
  &__wrapper {
    width: max-content;
    background: linear-gradient(to top left,#EEBEFF,#D0B4FF,#A4DEFF,#B6E5FF);
    border-radius: 120px;
  }

  &__text {
    padding: 60px 120px;
    margin: 0;
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
  }
}

.error-message {
  padding: 24px;
  margin: 0;
  color: #6F6F6F;
}