---
title: Ошибка
css:
  - common.css
  - error.css
  - navlink.css
---
{{!< base}}

<main>
  <div class="error-content">
    {{> errorMessage errorCode="500" message="Всё починим! Всё исправим!" }}
  </div>
</main>