---
title: Kareta
css:
  - common.css
  - chat.css
  - logo.css
  - button.css
  - searching.css
  - dialog.css
  - navlink.css
---
{{!< base}}

<main>
  <div class="chat">
    {{> chatsListSidebar}}
    {{> dialog}}
  </div>
</main>