---
title: Регистрация
css:
  - common.css
  - auth.css
  - logo.css
  - form.css
  - input.css
  - button.css
  - navlink.css
---
{{!< base}}

<main>
  <div class="auth-block">
    <div class="auth-block__wrapper">
      {{> logo class="logo logo__white"}}
      {{> registrationForm}}
    </div>
  </div>
</main>