<form class="form">
  {{> input type="text" name="login" placeholder="Логин"}}
  {{> input type="password" name="password" placeholder="Пароль"}}
  <div class="form__item">
    {{> button type="submit" class="button__submit" name="Войти" }}
  </div>
  <div class="form__item">
    {{> navlink rout="./registration.hbs" class="navlink navlink__white" routName="Регистрация"}}
  </div>
</form>
