<div class="chat-item">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__wrapper">
    <div class="chat-item__info">
      <span class="chat-item__name">{{name}}</span>
      <span class="chat-item__lastContactDate">{{lastContactDate}}</span>
    </div>
    <div class="chat-item__info">
      <span class="chat-item__message">{{message}}</span>
      <div class="chat-item__unreadCount">{{unreadCount}}</div>
    </div>
  </div>
</div>