<div class="error-code__wrapper">
  <p class="error-code__text">{{errorCode}}</p>
</div>
<p class="error-message">{{message}}</p>
{{> navlink rout="./index.hbs" class="navlink navlink__dark" routName="Обратно к чатикам"}}