<div class="searching-panel">
  <span class="material-icons searching-panel__icon">
    search
  </span>
  <input class="searching-panel__input" type="text" name="searchName" value="{{value}}">
</div>